# Gradle build system ignores
.gradle/
build/

# Other IDE related folders
.idea/
.settings/

# Minecraft client/server files
run/

src/generated/resources/
src/main/java/com/skizzium/projectlib/entity/PL_Entities.java
src/main/java/com/skizzium/projectlib/entity/TestEntity.java
